<div class="Contain">
  <div class="ContainNo"></div>
  <div class="ContainName"></div>
  <div *ngFor="let i of HeaderData" class="ContainValue">{{ i.year }}</div>
</div>

<!-- <form #frm="ngForm" >

  <div [ngSwitch]="year">

    <div *ngSwitchCase="'1'">
      <div class="Contain">
        <div class="ContainNo"></div>
        <div class="ContainName"></div>
      <div class="ContainValue">
<input type="text" class="ipt" name="th1" (keyup)="update()"/>
      </div>
      <div class="ContainValue">
        <input type="text" class="ipt" name="th2" (keyup)="update()"/>
              </div>
              <div class="ContainValue">
                <input type="text" class="ipt" name="th3" (keyup)="update()"/>
                      </div>
                      <div class="ContainValue">
                        <input type="text" class="ipt" name="th4" (keyup)="update()"/>
                              </div>
                              </div>
                            
</div>

<div *ngSwitchCase="'2'">
  <div class="Contain">
    <div class="ContainNo"></div>
    <div class="ContainName"></div>
  <div class="ContainValue">
<input type="text" class="ipt" name="th1" (keyup)="update()"/>
  </div>
  <div class="ContainValue">
    <input type="text" class="ipt" name="th2" (keyup)="update()"/>
          </div>
          <div class="ContainValue">
            <input type="text" class="ipt" name="th3" (keyup)="update()"/>
                  </div>
                  <div class="ContainValue">
                    <input type="text" class="ipt" name="th4" (keyup)="update()"/>
                          </div>
                          </div>
                        
</div>

<div *ngSwitchCase="'3'">
  <div class="Contain">
    <div class="ContainNo"></div>
    <div class="ContainName"></div>
  <div class="ContainValue">
<input type="text" class="ipt" name="th1" (keyup)="update()"/>
  </div>
  <div class="ContainValue">
    <input type="text" class="ipt" name="th2" (keyup)="update()"/>
          </div>
          <div class="ContainValue">
            <input type="text" class="ipt" name="th3" (keyup)="update()"/>
                  </div>
                  <div class="ContainValue">
                    <input type="text" class="ipt" name="th4" (keyup)="update()"/>
                          </div>
                          </div>
                        
</div>

<div *ngSwitchCase="'4'">
  <div class="Contain">
    <div class="ContainNo"></div>
    <div class="ContainName"></div>
  <div class="ContainValue">
<input type="text" class="ipt" name="th1"  [(ngModel)]="th1"  (keyup)="update()"/>
  </div>
  <div class="ContainValue">
    <input type="text" class="ipt" name="th2"  [(ngModel)]="th2"  (keyup)="gethead($event.target.value, th2)"/>
          </div>
          <div class="ContainValue">
            <input type="text" class="ipt" name="th3" (keyup)="gethead($event.target.value, th3)"/>
                  </div>
                  <div class="ContainValue">
                    <input type="text" class="ipt" name="th4" (keyup)="gethead($event.target.value, th4)"/>
                          </div>
                          <div class="ContainValue">
                            <input type="text" class="ipt" name="a5" (keyup)="gethead($event.target.value, a5)"/>
                                  </div>
                                  <div class="ContainValue">
                                    <input type="text" class="ipt" name="a6" (keyup)="gethead($event.target.value, a6)"/>
                                          </div>
                                          <div class="ContainValue">
                                            <input type="text" class="ipt" name="a7" (keyup)="gethead($event.target.value, a7)"/>
                                                  </div>
                                                  </div>
</div>

<div *ngSwitchCase="'5'">
  <div class="Contain">
    <div class="ContainNo"></div>
    <div class="ContainName"></div>
  <div class="ContainValue">
<input type="text" class="ipt" name="th1" (keyup)="update()"/>
  </div>
  <div class="ContainValue">
    <input type="text" class="ipt" name="th2" (keyup)="update()"/>
          </div>
          <div class="ContainValue">
            <input type="text" class="ipt" name="th3" (keyup)="update()"/>
                  </div>
                  <div class="ContainValue">
                    <input type="text" class="ipt" name="th4" (keyup)="update()"/>
                          </div>
                        
</div>

  </div>
</div>
  </form> -->
<!-- <div *ngFor="let k of datas" class="ContainValue"><input name="a{{k.id}}"  type="text" class="ipt" class="ipt" value="{{k.title}}" (keyup)="update()"/>{{year}}</div> -->
