<app-header></app-header>

<mat-grid-list cols="12" rowHeight="60px">
  <mat-grid-tile [colspan]="12">
    <span class="mainHeading">
      A-Cra : MSME : Internal (Medium) Credit Risk Rating Model
    </span>
  </mat-grid-tile>
</mat-grid-list>

<form #frm="ngForm" (ngSubmit)="GoToNext(frm.value)">
<div>
  <table id="customers">
    <tr>
      <th>Parameter</th>
      <th>Measure</th>
      <th>Score Options</th>
      <th>Weight</th>
      <th>Max. Score</th>
      <th>Assigned Score</th>
      <th>Assigned Weigted Score</th>
    </tr>
    <tr >
      <td style="font-weight: bold; text-align: center; font-size: 18px; padding: 12px;" colspan="7">
       	C. Ownership Appraisal
      </td>
    </tr>
    <tr class="aquamarine">
      <td>
	     a. Integrity of promoters
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td rowspan="4"></td>
      <td>A. Promoters are reportedly to be highly respected in the business communty and society in general and their integrity is unquestionable.</td>
      <td>1</td>
      <td rowspan="4">4</td>
      <td rowspan="4">24</td>
	   <td rowspan="4" class="finAnaIptTd"><input type="number" name="inter" [(ngModel)]="finData.inter" class="finAnaIpt" (change)="updateData()"></td>
      <td rowspan="4">8</td>
    </tr>
    <tr>
      <td>B. Promoters are Generally Respected in the business community and society and there are no adverse reports on their integrity.</td>
      <td>2</td>
    </tr>
    <tr>
      <td>C. Though promoters are Generally Respected in the business community and society and there are few adverse reports as they do not always act in an upright and honest manner.</td>
      <td>3</td>
    </tr>
    <tr>
      <td>D. Promoters  do not enjoy good reputation in business community and society and they are also likely to default in making payments due to banks, creditors and other lenders.</td>
      <td>4</td>
    </tr>
    <tr class="aquamarine">
      <td>
    b. Loan Repayment History
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td rowspan="5"></td>
      <td>A. Company has never violated any repayment terms of it's loan agreements OR has never  availed any credit facility.</td>
      <td>1</td>
      <td rowspan="5">5</td>
      <td rowspan="5">40</td>
   <td rowspan="5" class="finAnaIptTd"><input type="number" name="loan" [(ngModel)]="finData.loan" class="finAnaIpt" (change)="updateData()"></td>
      <td rowspan="5">10</td>
    </tr>
    <tr>
      <td>B. Company has failed to meet loan terms on few occassions but ultimately paid off the dues.</td>
      <td>2</td>
    </tr>
    <tr>
      <td>C. Company has failed to meet loan terms on many occassions but ultimately paid off the dues.</td>
      <td>3</td>
    </tr>
    <tr>
      <td>D. Company has failed to meet loan terms on many occassions resulting in huge losses to the lenders.</td>
      <td>4</td>
    </tr>
    <tr>
      <td>E. New Business - NB</td>
      <td>4</td>
    </tr>
    <tr class="aquamarine">
      <td>
	    c. Firm's Age in Business Activity
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td rowspan="5"></td>
      <td>A. Firm is in Active Business for 5  years and more.</td>
      <td>1</td>
      <td rowspan="5">6</td>
      <td rowspan="5">30</td>
   <td rowspan="5" class="finAnaIptTd"><input type="number" name="firm" [(ngModel)]="finData.firm" class="finAnaIpt" (change)="updateData()"></td>
      <td rowspan="5">12</td>
    </tr>
    <tr>
      <td>B. Firm is in Active Business  for 3 years and more  but less than 5  years.</td>
      <td>2</td>
    </tr>
    <tr>
      <td>C. Firm is in Active Business for 2 years and more but less than 3  years .</td>
      <td>3</td>
    </tr>
    <tr>
      <td>D. Firm is in Active Business for more than 1 year but less than 2 years.</td>
      <td>4</td>
    </tr>
    <tr>
      <td>D. Firm is in Active Business for 1 Year and Less. </td>
      <td>4</td>
    </tr>
    <tr class="aquamarine">
      <td colspan="2" style="text-align: center">
      C. Total of Ownership Appraisal Score
      </td>
      <td>XXX</td>
      <td>XXX</td>
      <td>94</td>
      <td>{{allTotal}}<input type="hidden" [(ngModel)]="allTotal" name='allTotal' /></td>
      <td>30</td>
    </tr>
  </table>
</div>
  <div class="example-button-row">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      style="margin: 1rem;"
    >
      Next
    </button>
  </div>
</form>
