<app-header></app-header>

<mat-grid-list cols="12" rowHeight="60px">
  <mat-grid-tile [colspan]="12">
    <span class="mainHeading">
			Photos / Videos
    </span>
  </mat-grid-tile>
</mat-grid-list>

<div style="margin:1rem 3rem">
<mat-grid-list cols="1" rowHeight="50px" class="aquamarine" style="font-size: 20px;">
	  <mat-grid-tile>
		  Promoer's / Owner's Pics
	  </mat-grid-tile>
</mat-grid-list>
<file-upload  [(ngModel)]="uploadedFiles1" [multiple]="true" [animation]="true"></file-upload>

<mat-grid-list cols="12" rowHeight="150px" *ngIf="finData[0]">
  <mat-grid-tile [colspan]="2" *ngFor="let i of finData[0]">
  	<img src="http://localhost/Harman/Node/Angular/angular9App/API/upload/{{i}}" class="myImg" />
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="50px" class="aquamarine" style="font-size: 20px;">
	  <mat-grid-tile>
		  Office Pics
	  </mat-grid-tile>
</mat-grid-list>
<file-upload  [(ngModel)]="uploadedFiles2" [multiple]="true" [animation]="true"></file-upload>

<mat-grid-list cols="12" rowHeight="150px" *ngIf="finData[1]">
  <mat-grid-tile [colspan]="2" *ngFor="let i of finData[1]">
  	<img src="http://localhost/Harman/Node/Angular/angular9App/API/upload/{{i}}" class="myImg" />
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="50px" class="aquamarine" style="font-size: 20px;">
	  <mat-grid-tile>
		  Factory Pics
	  </mat-grid-tile>
</mat-grid-list>
<file-upload  [(ngModel)]="uploadedFiles3" [multiple]="true" [animation]="true"></file-upload>

<mat-grid-list cols="12" rowHeight="150px" *ngIf="finData[2]">
  <mat-grid-tile [colspan]="2" *ngFor="let i of finData[2]">
  	<img src="http://localhost/Harman/Node/Angular/angular9App/API/upload/{{i}}" class="myImg" />
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="50px" class="aquamarine" style="font-size: 20px;">
	  <mat-grid-tile>
		  Godown Pics
	  </mat-grid-tile>
</mat-grid-list>
<file-upload  [(ngModel)]="uploadedFiles4" [multiple]="true" [animation]="true"></file-upload>

<mat-grid-list cols="12" rowHeight="150px" *ngIf="finData[3]">
  <mat-grid-tile [colspan]="2" *ngFor="let i of finData[3]">
  	<img src="http://localhost/Harman/Node/Angular/angular9App/API/upload/{{i}}" class="myImg" />
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="50px" class="aquamarine" style="font-size: 20px;">
	  <mat-grid-tile>
		  Collateral Pics
	  </mat-grid-tile>
</mat-grid-list>
<file-upload  [(ngModel)]="uploadedFiles5" [multiple]="true" [animation]="true"></file-upload>

<mat-grid-list cols="12" rowHeight="150px" *ngIf="finData[4]">
  <mat-grid-tile [colspan]="2" *ngFor="let i of finData[4]">
  	<img src="http://localhost/Harman/Node/Angular/angular9App/API/upload/{{i}}" class="myImg" />
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="50px" class="aquamarine" style="font-size: 20px;">
	  <mat-grid-tile>
		  Factory Videos
	  </mat-grid-tile>
</mat-grid-list>
<file-upload  [(ngModel)]="uploadedFiles6" [multiple]="true" [animation]="true"></file-upload>

<mat-grid-list cols="12" rowHeight="250px" *ngIf="finData[5]">
  <mat-grid-tile [colspan]="2" *ngFor="let i of finData[5]">
    <video width="320" height="240" controls="" class="myImg">
      <source src="http://localhost/Harman/Node/Angular/angular9App/API/upload/{{i}}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="50px" class="aquamarine" style="font-size: 20px;">
	  <mat-grid-tile>
		  Godown Videos
	  </mat-grid-tile>
</mat-grid-list>
<file-upload  [(ngModel)]="uploadedFiles7" [multiple]="true" [animation]="true"></file-upload>

<mat-grid-list cols="12" rowHeight="250px" *ngIf="finData[6]">
  <mat-grid-tile [colspan]="2" *ngFor="let i of finData[6]">
    <video width="320" height="240" controls="" class="myImg">
      <source src="http://localhost/Harman/Node/Angular/angular9App/API/upload/{{i}}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="50px" class="aquamarine" style="font-size: 20px;">
	  <mat-grid-tile>
		  Collateral Videos
	  </mat-grid-tile>
</mat-grid-list>
<file-upload  [(ngModel)]="uploadedFiles8" [multiple]="true" [animation]="true"></file-upload>

<mat-grid-list cols="12" rowHeight="250px" *ngIf="finData[7]">
  <mat-grid-tile [colspan]="2" *ngFor="let i of finData[7]">
    <video width="320" height="240" controls="" class="myImg">
      <source src="http://localhost/Harman/Node/Angular/angular9App/API/upload/{{i}}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </mat-grid-tile>
</mat-grid-list>
</div>

  <div class="example-button-row">
    <button
      type="button"
      mat-raised-button
      color="primary"
      style="margin:1rem 3rem"
     	[disabled]="nextbtn"
      (click)="nextGo()"
    >
      Next
    </button>
    <button
      type="button"
      mat-raised-button
      style="background-color: green; color: white;margin:1rem 0rem"
      (click)="saveImage()"
    >
      Save
    </button>
  </div>