
<div class="aliceblue" style="padding: 1rem; border-bottom: 1px solid #333;">
  <mat-grid-list cols="24" rowHeight="2:1">
    <mat-grid-tile [colspan]="24">
      <span class="sectionHeading"> Statement of Assets and Liabilities. </span>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="aliceblue" style="padding: 1rem; border-bottom: 1px solid #333;">
  <mat-grid-list cols="24" rowHeight="2:1">
    <mat-grid-tile [colspan]="24">
      <span class="sectionHeading"> Liabilities </span>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!-- <app-sheet-head [year]="default_data.year"></app-sheet-head> -->

<app-sheet-row></app-sheet-row>

<!-- <div class="aliceblue" style="padding: 1rem">
  <mat-grid-list cols="24" rowHeight="2:1">
    <mat-grid-tile [colspan]="24">
      <span class="sectionHeading"> Liabilities </span>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<app-sheet-head [year]="default_data.year"></app-sheet-head>

<app-sheet-heading
  [no]="'1)'"
  [Name]="'CURRENT LIABILITIES'"
></app-sheet-heading> -->

<!-- Row Start -->
<!-- <div>
  <app-sheet-row
    [year]="default_data.year"
    [no]="'a'"
    [Name]="'Short Term Borrowings from Banks.'"
    [type]="'value'"
    [addFun]="updateValue"
    [id]="Liabilities.CURRENT_LIABILITIES.stbfb" 
    [value]="Liabilities.CURRENT_LIABILITIES.stbfb"
  ></app-sheet-row>
  <app-sheet-row
    [year]="default_data.year"
    [no]="'b'"
    [Name]="'Bank Loan Installments ( Due in Next 1 Yr. )'"
    [type]="'value'"
    [addFun]="updateValue"
    [value]="Liabilities.CURRENT_LIABILITIES.bs_bli"
  ></app-sheet-row>
  <app-sheet-row
    [year]="default_data.year"
    [no]="'c'"
    [Name]="'Short Term Borrowings from Others.'"
    [type]="'value'"
    [addFun]="updateValue"
    [value]="Liabilities.CURRENT_LIABILITIES.bs_stbfo"
  ></app-sheet-row>
  <app-sheet-row
    [year]="default_data.year"
    [no]="'d'"
    [Name]="'Trade Creditors'"
    [type]="'value'"
    [addFun]="updateValue"
    [value]="Liabilities.CURRENT_LIABILITIES.bs_tc"
  ></app-sheet-row>
  <app-sheet-row
    [year]="default_data.year"
    [no]="'e'"
    [Name]="'Advance Payments from Customers'"
    [type]="'value'"
    [addFun]="updateValue"
    [value]="Liabilities.CURRENT_LIABILITIES.bs_apfc"
  ></app-sheet-row>
  <app-sheet-row
    [year]="default_data.year"
    [no]="'f'"
    [Name]="'Taxes Payable.'"
    [type]="'value'"
    [addFun]="updateValue"
    [value]="Liabilities.CURRENT_LIABILITIES.bs_tp"
  ></app-sheet-row>
  <app-sheet-row
    [year]="default_data.year"
    [no]="'g'"
    [Name]="'Accrued Expenses to be paid.'"
    [type]="'value'"
    [addFun]="updateValue"
    [value]="Liabilities.CURRENT_LIABILITIES.bs_aetbp"
  ></app-sheet-row>
  <app-sheet-row
    [year]="default_data.year"
    [no]="'h'"
    [Name]="'Other Current Liabilities'"
    [type]="'value'"
    [addFun]="updateValue"
    [value]="Liabilities.CURRENT_LIABILITIES.bs_ocl"
  ></app-sheet-row>
  <app-sheet-row
    [year]="default_data.year"
    [no]="''"
    [Name]="'TOTAL CURRENT LIABILITIES'"
    [type]="'Ans'"
    [addFun]="updateValue"
    [value]="Liabilities.CURRENT_LIABILITIES.bs_tcl"
  ></app-sheet-row>
</div> -->
<!-- Row End -->
